html{
	font-size:100%;
}
body{
	padding:0;
	margin:0;
	font-family: Gotham SSm A,Gotham SSm B,Gotham Rounded SSm A,Gotham Rounded SSm B,sans-serif;
	font-weight: lighter;
	color:#3b3d42;
	font-size: 1.1rem;
}
table { 
	border-collapse:collapse;
	border-spacing: 0;
 }
 td{
 	padding:0;
 	margin:0;
 	border:#44484f 1px solid;
 }
 input{
 	padding:5px;
 	margin:.5rem;
 	font-size: .7rem;
 	border:none;
 	border-radius: 10px;
 }
 input:focus,select:focus,textarea:focus,button:focus {
    outline: none;
}
.nav{
	text-align: center;
	height: 5vh;
	background-color: #44484f;
	color:white;
}
.maps{ 
	height: 95vh;
	width: 50vw;
}
