<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Air Quality Map</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
   <script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="application/javascript" src="js/script.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="Leaflet.heat-gh-pages/dist/leaflet-heat.js"></script>
</head>
<body onload="init()">
    <div id="app">
    	<table>
        <thead>
          <tr id = "header"> 
            <th><a href = "index.html">  Air Quality Map </a></th>
            <th> <a href = "html/about.html">  About </a> </th>
          </tr>
        </thead>
      <tr>
    		<tr>
    			<td style="vertical-align:top" id="map1_and_nav">
    				<div class="nav-wrapper">
	    				<div id="nav1" class="nav">
	    					<button id="showFilter1" class="screenButtons"onclick="showFilter1()"><i class="fas fa-sliders-h"></i></button>
	    					<div class="location-search">
	    						Location:<input @input = "locSearch1" type="text" id="addr" v-model="location1" :value="location1"/>
	    					</div>
	    					<br>
					    	<div class="latlng" >
					    		Latitude:<input @input="latSearch1" type="text" v-model="center1.lat" :value="center1.lat"></input>
						    	Longitude:<input @input="lngSearch1" type="text" v-model="center1.lng" :value="center1.lng"></input>
					    	</div>
					    	<button id="fullscreen1" class="screenButtons"onclick="fullscreen1()"><i class="far fa-square"></i></button>
						    <button id="halfscreen1" class="screenButtons" onclick="halfscreen1()"><i class="fas fa-compress-arrows-alt"></i></button>
					    </div>
					    <div id="filter-page1" class="filter-page">
						    <button id="showNav1" class="screenButtons" onclick="showNav1()"><i class="fas fa-arrow-circle-left"></i></button>
	    					<center>
                  <div class="filers">
                    <table> 
                      <td>
                        <input type="checkbox" id="pm25" value="pm25" v-model="checkedParams1">
                        <label>pm2.5</label>
                        <br>
                        <input type="text" size="5" v-model="filter_values1.pm25.min" :value="filter_values1.pm25.min">
                        <br>
                        <input type="text" size="5" v-model="filter_values1.pm25.max" :value="filter_values1.pm25.max">
                      </td>
                      <td>
                        <input type="checkbox" id="pm10" value="pm10" v-model="checkedParams1">
                        <label>pm10</label>
                        <br>                       
                        <input type="text" size="5" v-model="filter_values1.pm10.min" :value="filter_values1.pm10.min">
                        <br>
                        <input type="text" size="5" v-model="filter_values1.pm10.max" :value="filter_values1.pm10.max">
                      </td>
                      <td>
                        <input type="checkbox" id="so2" value="so2" v-model="checkedParams1">
                        <label>so2</label>
                        <br>                        
                        <input type="text" size="5" v-model="filter_values1.so2.min" :value="filter_values1.so2.min">
                        <br>
                        <input type="text" size="5" v-model="filter_values1.so2.max" :value="filter_values1.so2.max">
                      </td>
                      <td>
                        <input type="checkbox" id="no2" value="no2" v-model="checkedParams1">
                        <label>no2</label>
                        <br>                        
                        <input type="text" size="5" v-model="filter_values1.no2.min" :value="filter_values1.no2.min">
                        <br>
                        <input type="text" size="5" v-model="filter_values1.so2.max" :value="filter_values1.so2.max">
                      </td>
                      <td>
                        <input type="checkbox" id="o3" value="o3" v-model="checkedParams1">
                        <label>o3</label>
                        <br>   
                        <input type="text" size="5" v-model="filter_values1.o3.min" :value="filter_values1.o3.min">
                        <br>
                        <input type="text" size="5" v-model="filter_values1.so2.max" :value="filter_values1.so2.max">
                      </td>
                      <td>
                        <input type="checkbox" id="co" value="co" v-model="checkedParams1">
                        <label>co</label>
                        <br>
                        <input type="text" size="5" v-model="filter_values1.co.min" :value="filter_values1.co.min">
                        <br>
                        <input type="text" size="5" v-model="filter_values1.so2.max" :value="filter_values1.so2.max">
                      </td>
                      <td>
                        <input type="checkbox" id="bc" value="bc" v-model="checkedParams1">
                        <label>bc</label>
                        <br>
                        <input type="text" size="5" v-model="filter_values1.bc.min" :value="filter_values1.bc.min">
                        <br>
                        <input type="text" size="5" v-model="filter_values1.so2.max" :value="filter_values1.so2.max">
                      </td>
                    </table>
                  </div>
                  <div>
                    From: <input type="date" id="date_from1" v-model="date_from1" max="2019-02-01">
                    To: <input type="date" id="date_to1" v-model="date_to1">
                  </div>
                </center>
                  <div v-if = "checkedParams1.length ==1">
                    <input type="checkbox" id="heat1" v-model="heat1" @input="heatMap1"> 
                    <label for="heat1">Heat Map</label>
                    <table>  
                      <thead>
                       <tr>
                          <th class = "good"> Good/Moderate</th>
                          <th class = "uhsg"> Unhealthy for Sensitive Groups / Unhealthy</th>
                          <th  class = "unhealthy"> Very Unhealthy/Hazardous </th>
                      </tr>
                    </thead>
                  </table>
                  </div>
                </div>
					    </div>
					  </div>
				    <div id="map1id" class="maps"></div>
            <div style="max-height:25vh; overflow-y:scroll;">

              <table id="firstTable" >
              <thead>
               <tr>
                  <th > Air Quality Index</th>
                  <th class = "good"> Good (0-50)</th>
                  <th class = "moderate"> Moderate (51-100)</th>
                  <th colspan ="2" class = "uhsg" style="font-size:75%"> Unhealthy for Sensitive Groups (101-150)</th>
                  <th class = "unhealthy">Unhealthy (151-200)</th>
                  <th  class = "veryUnhealthy"> Very Unhealthy (201-300)</th>
                  <th class = "hazardous">Hazardous (301-500)</th>
               </tr>
                 <tr>
                 <th class="sticky">Location</th> 
                 <th class="sticky">Date</th>          
                 <th v-if="checkedParams1.includes('pm25')" class="sticky">pm25</th>
                 <th v-if="checkedParams1.includes('pm10')"class="sticky">pm10</th>
                 <th v-if="checkedParams1.includes('so2')"class="sticky">so2</th>
                 <th v-if="checkedParams1.includes('no2')"class="sticky">no2</th>
                 <th v-if="checkedParams1.includes('o3')"class="sticky">o3</th>
                 <th v-if="checkedParams1.includes('co')"class="sticky">co</th>
                 <th v-if="checkedParams1.includes('bc')"class="sticky">bc</th>
                 
                </tr>
              </thead>
                <tbody class="data-table" v-for="item in unique_markers1">
                  <tr @click="item.visible = !item.visible">
                    <td class="collapsible" >
                      <span>
                        {{item.coordinates.latitude}},<br>{{item.coordinates.longitude}}
                        <i v-if="item.visible==false" class="drop-buttons fas fa-sort-down"></i>
                        <i v-else class="drop-buttons fas fa-sort-up"></i>
                      </span>
                    </td>
                  </tr>

                  <tr v-if="item.visible==true" v-if="unique_markers1.length > 0" v-for="entry in item.date_entries">
                    <td>
                      <span > </span>
                    </td>
                    <td >
                      <span> {{new Date(entry.date.utc).toLocaleString()}}</span>
                    </td>
                    <td v-if="checkedParams1.includes('pm25')" :class="getClassPM25(`${entry.pm25}`)">
                      <div v-if= "entry.pm25 != null && entry.pm25 >= filter_values1.pm25.min && entry.pm25 <= filter_values1.pm25.max">
                        <span>{{entry.pm25}} <p class="units">ug/m^3</p></span>
                      </div>
                    </td>
                    <td v-if="checkedParams1.includes('pm10')" :class="getClassPM10(`${entry.pm10}`)">
                      <div v-if= "entry.pm10!= null && entry.pm10 >= filter_values1.pm10.min && entry.pm10 <= filter_values1.pm10.max">
                        <span>{{entry.pm10}} <p class="units">ug/m^3</p></span>
                      </div>
                    </td>
                    <td v-if="checkedParams1.includes('so2')" :class="getClassSO2(`${entry.so2}`)">
                      <div v-if= "entry.so2!= null && entry.so2 >= filter_values1.so2.min && entry.so2 <= filter_values1.so2.max">
                        <span>{{entry.so2}} <p class="units">ppb</p></span>
                      </div>
                    </td>
                    <td v-if="checkedParams1.includes('no2')" :class="getClassNO2(`${entry.no2}`)"> 
                      <div v-if= "entry.no2!= null && entry.no2 >= filter_values1.no2.min && entry.no2 <= filter_values1.no2.max">
                        <span>{{entry.no2}} <p class="units">ppb</p></span>
                      </div>
                    </td>
                    <td v-if="checkedParams1.includes('o3')" :class="getClassO3(`${entry.o3}`)"> 
                      <div v-if= "entry.o3!= null && entry.o3 >= filter_values1.o3.min && entry.o3 <= filter_values1.o3.max">
                        <span>{{entry.o3}} <p class="units">ppm</p></span>
                      </div>
                    </td>
                    <td v-if="checkedParams1.includes('co')" :class="getClassCO(`${entry.co}`)"> 
                      <div v-if= "entry.co!= null && entry.co >= filter_values1.co.min && entry.co <= filter_values1.co.max">
                        <span>{{entry.co}} <p class="units">ppm</p></span>
                      </div>
                    </td>
                    <td v-if="checkedParams1.includes('bc')" :class="getClassO3(`${entry.bc}`)"> 
                      <div v-if= "entry.bc!= null && entry.bc >= filter_values1.bc.min && entry.bc <= filter_values1.bc.max">
                        <span>{{entry.bc}}</span>
                      </div>
                    </td>
                  </tr> 

                </tbody>
            </table>

          </div>
				</td>
				<td style="vertical-align:top" id="map2_and_nav">
					<div class="nav-wrapper">
						<div id="nav2" class="nav">
	    					<button id="showFilter2" class="screenButtons"onclick="showFilter2()"><i class="fas fa-sliders-h"></i></button>
							<div class="location-search">
								Location:<input @input = "locSearch2" type="text" id="addr" v-model="location2" :value="location2"/>
							</div>
							<br>
					    	<div class="latlng">
					    		Latitude:<input @input="latSearch2" type="text" v-model="center2.lat" :value="center2.lat"></input>
						    	Longitude:<input @input="lngSearch2" type="text" v-model="center2.lng" :value="center2.lng"></input>
						    </div>
						
					    <button id="fullscreen2" class="screenButtons"onclick="fullscreen2()"><i class="far fa-square"></i></button>
					    <button id="halfscreen2" class="screenButtons" onclick="halfscreen2()"><i class="fas fa-compress-arrows-alt"></i></button>
				    	</div>
				    	<div id="filter-page2" class="filter-page">
						    <button id="showNav2" class="screenButtons" onclick="showNav2()"><i class="fas fa-arrow-circle-left"></i></button>
	    					<center><div class="filers">
                  <input type="checkbox" id="pm25" value="pm25" v-model="checkedParams2">
                  <label>pm25</label>
                  <input type="checkbox" id="pm10" value="pm10" v-model="checkedParams2">
                  <label>pm10</label>
                  <input type="checkbox" id="so2" value="so2" v-model="checkedParams2">
                  <label>so2</label>
                  <input type="checkbox" id="no2" value="no2" v-model="checkedParams2">
                  <label>no2</label>
                  <input type="checkbox" id="o3" value="o3" v-model="checkedParams2">
                  <label>o3</label>
                  <input type="checkbox" id="co" value="co" v-model="checkedParams2">
                  <label>co</label>
                  <input type="checkbox" id="bc" value="bc" v-model="checkedParams2">
                  <label>bc</label>

                </div></center>
                  <div v-if = "checkedParams2.length ==1">
                    <input type="checkbox" id="heat2" v-model="heat2" @input="heatMap2"> 
                    <label for="heat2">Heat Map</label>
                  </div>
                </div>

					    </div>
					</div>	
				    <div id="map2id" class="maps"></div>
          <div style="max-height:25vh; overflow-y:scroll;">
            <table id="secondTable">

             <thead>
              <tr>
                  <th > Air Quality Index</th>
                  <th class = "good"> Good (0-50)</th>
                  <th class = "moderate"> Moderate (51-100)</th>
                  <th colspan ="2" class = "uhsg"style="font-size:75%"> Unhealthy for Sensitive Groups (101-150)</th>
                  <th class = "unhealthy">Unhealthy (151-200)</th>
                  <th  class = "veryUnhealthy"> Very Unhealthy (201-300)</th>
                  <th class = "hazardous">Hazardous (301-500)</th>
               </tr>
                 <tr>
                  <th class="sticky">Location</th> 
                   <th class="sticky">Date</th>
                   <th v-if="checkedParams2.includes('pm25')" class="sticky">pm25</th>
                   <th v-if="checkedParams2.includes('pm10')"class="sticky">pm10</th>
                   <th v-if="checkedParams2.includes('so2')"class="sticky">so2</th>
                   <th v-if="checkedParams2.includes('no2')"class="sticky">no2</th>
                   <th v-if="checkedParams2.includes('o3')"class="sticky">o3</th>
                   <th v-if="checkedParams2.includes('co')"class="sticky">co</th>
                   <th v-if="checkedParams2.includes('bc')"class="sticky">bc</th>
                </tr>
              </thead>
                <tbody class="data-table" v-for="item in unique_markers2">

                  <tr @click="item.visible = !item.visible">
                    <td class="collapsible" style="top:2rem;" >
                      <span >
                        {{item.coordinates.latitude}},<br>{{item.coordinates.longitude}}
                        <i v-if="item.visible==false" class="drop-buttons fas fa-sort-down"></i>
                        <i v-else class="drop-buttons fas fa-sort-up"></i>
                      </span>
                    </td>
                  </tr>


                  <tr v-if="item.visible==true" v-if="unique_markers2.length > 0" v-for="entry in item.date_entries">
                    <td>
                      <span > </span>
                    </td>

                    <td >
                      <span> {{new Date(entry.date.utc).toLocaleString()}}</span>
                    </td>

                    <td v-if="checkedParams2.includes('pm25')" :class="getClassPM25(`${entry.pm25}`)">

                      <div v-if= "entry.pm25 != null">
                        <span>{{entry.pm25}} <p class="units">ug/m^3</p></span>
                      </div>
                    </td>
                    <td v-if="checkedParams2.includes('pm10')" :class="getClassPM10(`${entry.pm10}`)">
                      <div v-if= "entry.pm10!= null">
                        <span>{{entry.pm10}} <p class="units">ug/m^3</p></span>
                      </div>
                    </td>
                    <td v-if="checkedParams2.includes('so2')" :class="getClassSO2(`${entry.so2}`)">
                      <div v-if= "entry.so2!= null">
                        <span>{{entry.so2}} <p class="units">ppb</p></span>
                      </div>
                    </td>
                    <td v-if="checkedParams2.includes('no2')" :class="getClassNO2(`${entry.no2}`)"> 
                      <div v-if= "entry.no2!= null">
                        <span>{{entry.no2}} <p class="units">ppb</p></span>
                      </div>
                    </td>
                    <td v-if="checkedParams2.includes('o3')" :class="getClassO3(`${entry.o3}`)"> 
                      <div v-if= "entry.o3!= null">
                        <span>{{entry.o3}} <p class="units">ppm</p></span>
                      </div>
                    </td>
                    <td v-if="checkedParams2.includes('co')" :class="getClassCO(`${entry.co}`)"> 
                      <div v-if= "entry.co!= null">
                        <span>{{entry.co}} <p class="units">ppm</p></span>
                      </div>
                    </td>
                    <td v-if="checkedParams2.includes('bc')" :class="getClassO3(`${entry.bc}`)"> 
                      <div v-if= "entry.bc!= null">
                        <span>{{entry.bc}}</span>
                      </div>
                    </td>
                  </tr> 

                </tbody>
              </table>
            </div>
          </div>
  			</td>
  		</tr>
  	</table>
    </div>
</body>
</html>