<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Air Quality Map</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
   <script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="application/javascript" src="js/script.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body onload="init()">
    <div id="app">
    	<table>
    		<tr>
    			<td id="map1_and_nav">
    				<div class="nav">
    					<div class="location-search">
    						Location:<input @input = "locSearch1" type="text" id="addr" v-model="location1" :value="location1"/>
    					</div>
    					<br>
				    	<div class="latlng" >
				    		Latitude:<input @input="latSearch1" type="text" v-model="center1.lat" :value="center1.lat"></input>
					    	Longitude:<input @input="lngSearch1" type="text" v-model="center1.lng" :value="center1.lng"></input>
					    	<button id="fullscreen1" class="screenButtons"onclick="fullscreen1()"><i class="icon-resize-full"></i></i></button>
					    	<button id="halfscreen1" class="screenButtons" onclick="halfscreen1()"><i class="icon-resize-small"></i></button>
				    	</div>
				    </div>
				    <div id="map1id" class="maps"></div>
            <table id="firstTable">
            <thead>
               <tr>
               <th>Location</th>         
               <th>pm25</th>
               <th>pm10</th>
               <th>no2</th>
               <th>o3</th>
               <th>bc</th>
               <th>co</th>
              </tr>
            </thead>
              <tbody>
               <div v-if="unique_markers2.length > 0">
                <tr v-for="item in unique_markers2">
                  <td valign= "top" class = "location">
                    <button class="collapsible">{{item.coordinates.latitude}},{{item.coordinates.longitude}}</button>
                  </td>
                  <td> 
                    <div v-if= "item.pm25.length > 0"> 
                      <span v-for= "value in item.pm25"> {{value}}, </span>
                    </div>
                  </td>
               
                  <td> 
                    <div v-if= "item.pm10.length > 0"> 
                      <span v-for= "value in item.pm10"> {{value}}, </span>
                    </div>
                  </td>

                  <td> 
                    <div v-if= "item.no2.length > 0"> 
                      <span v-for= "value in item.no2"> {{value}}, </span>
                    </div>
                    </td>

                    <td> 
                      <div v-if= "item.o3.length > 0"> 
                        <span v-for= "value in item.o3"> {{value}}, </span>
                      </div>
                    </td>

                    <td> 
                      <div v-if= "item.bc.length > 0"> 
                        <span v-for= "value in item.bc"> {{value}}, </span>
                      </div>
                    </td>
                    
                    <td> 
                      <div v-if= "item.co.length > 0"> 
                        <span v-for= "value in item.co"> {{value}}, </span>
                      </div>
                    </td>
                  </tr> 
                </div>
              </tbody>
          </table>
				</td>
				<td id="map2_and_nav">
					<div class="nav">
						<div class="location-search">
							Location:<input @input = "locSearch2" type="text" id="addr" v-model="location2" :value="location2"/>
						</div>
						<br>
				    	<div class="latlng">
				    		Latitude:<input @input="latSearch2" type="text" v-model="center2.lat" :value="center2.lat"></input>
					    	Longitude:<input @input="lngSearch2" type="text" v-model="center2.lng" :value="center2.lng"></input>
					    	<button id="fullscreen2" class="screenButtons"onclick="fullscreen2()"><i class="icon-resize-full"></i></i></button>
					    	<button id="halfscreen2" class="screenButtons" onclick="halfscreen2()"><i class="icon-resize-small"></i></button>
					    </div>
				    </div>
				    <div id="map2id" class="maps"></div>
            <table id="secondTable">
           <thead>
               <tr>
               <th>Location</th>         
               <th>pm25</th>
               <th>pm10</th>
               <th>no2</th>
               <th>o3</th>
               <th>bc</th>
               <th>co</th>
              </tr>
          </thead>
            <tbody>
             <div v-if="unique_markers2.length > 0">
              <tr v-for="item in unique_markers2">
                <td valign= "top" class = "location">
                  <button class="collapsible">{{item.coordinates.latitude}},{{item.coordinates.longitude}}</button>
                </td>
                <td> 
                  <div v-if= "item.pm25.length > 0"> 
                    <span v-for= "value in item.pm25"> {{value}}, </span>
                  </div>
                </td>
             
                <td> 
                  <div v-if= "item.pm10.length > 0"> 
                    <span v-for= "value in item.pm10"> {{value}}, </span>
                  </div>
                </td>

                <td> 
                  <div v-if= "item.no2.length > 0"> 
                    <span v-for= "value in item.no2"> {{value}}, </span>
                  </div>
                  </td>

                  <td> 
                    <div v-if= "item.o3.length > 0"> 
                      <span v-for= "value in item.o3"> {{value}}, </span>
                    </div>
                  </td>

                  <td> 
                    <div v-if= "item.bc.length > 0"> 
                      <span v-for= "value in item.bc"> {{value}}, </span>
                    </div>
                  </td>
                  
                  <td> 
                    <div v-if= "item.co.length > 0"> 
                      <span v-for= "value in item.co"> {{value}}, </span>
                      </div>
                    </td>
                  </tr> 
                </div>
              </tbody>
            </table>
          </div>
  			</td>
  		</tr>
  	</table>
    </div>
</body>
</html>