<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Air Quality Map</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
   <script type="application/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="application/javascript" src="js/script.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body onload="init()">
    <div id="app">
    	<table>
    		<tr>
    			<td style="vertical-align:top" id="map1_and_nav">
    				<div class="nav-wrapper">
	    				<div id="nav1" class="nav">
	    					<button id="showFilter1" class="screenButtons"onclick="showFilter1()"><i class="icon-cog"></i></i></button>
	    					<div class="location-search">
	    						Location:<input @input = "locSearch1" type="text" id="addr" v-model="location1" :value="location1"/>
	    					</div>
	    					<br>
					    	<div class="latlng" >
					    		Latitude:<input @input="latSearch1" type="text" v-model="center1.lat" :value="center1.lat"></input>
						    	Longitude:<input @input="lngSearch1" type="text" v-model="center1.lng" :value="center1.lng"></input>
					    	</div>
					    	<button id="fullscreen1" class="screenButtons"onclick="fullscreen1()"><i class="icon-resize-full"></i></i></button>
						    <button id="halfscreen1" class="screenButtons" onclick="halfscreen1()"><i class="icon-resize-small"></i></button>
					    </div>
					    <div id="filter-page1" class="filter-page">
						    <button id="showNav1" class="screenButtons" onclick="showNav1()"><i class="icon-arrow-left"></i></button>
	    					Where Filters 1 will live
					    </div>
					  </div>
				    <div id="map1id" class="maps"></div>
            <table id="firstTable">
            <thead>
             <!-- <tr>
                <th > Air Quality Index</th>
                <th class = "good"> Good (0-50)</th>
                <th class = "moderate"> Moderate (51-100)</th>
                <th colspan ="2" class = "uhsg"style="font-size:75%"> Unhealthy for Sensitive Groups (101-150)</th>
                <th class = "unhealthy">Unhealthy (151-200)</th>
                <th  class = "veryUnhealthy"> Very Unhealthy (201-300)</th>
                <th class = "hazardous">Hazardous (301-500)</th>
             </tr>-->
               <tr>
               <th class="sticky">Location</th> 
               <th class="sticky">Date</th>          
               <th class="sticky">pm25</th>
               <th class="sticky">pm10</th>
               <th class="sticky">no2</th>
               <th class="sticky">o3</th>
               <th class="sticky">bc</th>
               <th class="sticky">co</th>
              </tr>
            </thead>
              <tbody class="data-table" v-for="item in unique_markers1">
                <tr v-if="unique_markers1.length > 0" v-for="entry in item.date_entries">
                  <td class="collapsible" >
                    <span >{{item.coordinates.latitude}},{{item.coordinates.longitude}}</span>
                  </td>
                  <td >
                    <span> {{new Date(entry.date.utc).toLocaleString()}}</span>
                  </td>
                  <td :class="getClass(`${entry.pm25}`)">
                    <span>{{entry.pm25}}</span>
                  </td>
                  <td :class="getClass(`${entry.pm10}`)">
                    <span>{{entry.pm10}}</span>
                  </td>
                  <td :class="getClass(`${entry.no2}`)"> 
                    <span>{{entry.no2}}</span>
                  </td>
                 <td :class="getClass(`${entry.o3}`)"> 
                    <span>{{entry.o3}}</span>
                  </td>
                  <td :class="getClass(`${entry.bc}`)"> 
                    <span>{{entry.bc}}</span>
                  </td>
                  <td :class="getClass(`${entry.co}`)"> 
                    <span>{{entry.co}}</span>
                  </td>
                </tr> 
              </tbody>
          </table>
				</td>
				<td style="vertical-align:top" id="map2_and_nav">
					<div class="nav-wrapper">
						<div id="nav2" class="nav">
	    					<button id="showFilter2" class="screenButtons"onclick="showFilter2()"><i class="icon-cog"></i></i></button>
							<div class="location-search">
								Location:<input @input = "locSearch2" type="text" id="addr" v-model="location2" :value="location2"/>
							</div>
							<br>
					    	<div class="latlng">
					    		Latitude:<input @input="latSearch2" type="text" v-model="center2.lat" :value="center2.lat"></input>
						    	Longitude:<input @input="lngSearch2" type="text" v-model="center2.lng" :value="center2.lng"></input>
						    </div>
						
					    <button id="fullscreen2" class="screenButtons"onclick="fullscreen2()"><i class="icon-resize-full"></i></i></button>
					    <button id="halfscreen2" class="screenButtons" onclick="halfscreen2()"><i class="icon-resize-small"></i></button>
				    	</div>
				    	<div id="filter-page2" class="filter-page">
						    <button id="showNav2" class="screenButtons" onclick="showNav2()"><i class="icon-arrow-left"></i></button>
	    					Where Filters 2 will live
					    </div>
					</div>	
				    <div id="map2id" class="maps"></div>
          <table id="secondTable">
           <thead>
            <!-- <tr>
                <th > Air Quality Index</th>
                <th class = "good"> Good (0-50)</th>
                <th class = "moderate"> Moderate (51-100)</th>
                <th colspan ="2" class = "uhsg"style="font-size:75%"> Unhealthy for Sensitive Groups (101-150)</th>
                <th class = "unhealthy">Unhealthy (151-200)</th>
                <th  class = "veryUnhealthy"> Very Unhealthy (201-300)</th>
                <th class = "hazardous">Hazardous (301-500)</th>
             </tr>-->
               <tr>
               <th class="sticky">Location</th> 
               <th class="sticky">Date</th>          
               <th class="sticky">pm25</th>
               <th class="sticky">pm10</th>
               <th class="sticky">no2</th>
               <th class="sticky">o3</th>
               <th class="sticky">bc</th>
               <th class="sticky">co</th>
              </tr>
            </thead>
              <tbody class="data-table" v-for="item in unique_markers2">
                <tr v-if="unique_markers2.length > 0" v-for="entry in item.date_entries">
                  <td class="collapsible" >
                    <span >{{item.coordinates.latitude}},{{item.coordinates.longitude}}</span>
                  </td>
                  <td >
                    <span> {{new Date(entry.date.utc).toLocaleString()}}</span>
                  </td>
                  <td :class="getClass(`${entry.pm25}`)">
                    <span>{{entry.pm25}}</span>
                  </td>
                  <td :class="getClass(`${entry.pm10}`)">
                    <span>{{entry.pm10}}</span>
                  </td>
                  <td :class="getClass(`${entry.no2}`)"> 
                    <span>{{entry.no2}}</span>
                  </td>
                 <td :class="getClass(`${entry.o3}`)"> 
                    <span>{{entry.o3}}</span>
                  </td>
                  <td :class="getClass(`${entry.bc}`)"> 
                    <span>{{entry.bc}}</span>
                  </td>
                  <td :class="getClass(`${entry.co}`)"> 
                    <span>{{entry.co}}</span>
                  </td>
                </tr> 
              </tbody>
            </table>
          </div>
  			</td>
  		</tr>
  	</table>
    </div>
</body>
</html>